
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  body{
    margin: 0;
    padding: 0;
    background-color: #efc9d3;
    background-image: linear-gradient(119deg, #efc9d3 0%, #f7cfdb 100%);
    
}